@use 'src/styles/abstracts/mixins' as *;
@use 'src/styles/abstracts/variables' as *;
@use 'src/styles/abstracts/media-queries' as *;
@use 'src/styles/abstracts/functions' as *;

$single-column-breakpoint: 920px;

.section {
  position: relative;
}

.inner {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 2;

  @include above($single-column-breakpoint) {
    flex-direction: row;
    align-items: stretch;
  }
}

.leftColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 170px;
  padding: fluid-value(320px, $single-column-breakpoint, gutter(2), gutter(8)) gutter(2) 0;
  background-color: var(--gray-1);

  @include above($single-column-breakpoint) {
    flex: 1 1 50%;
    min-height: unset;
    padding: gutter(8) gutter(3);
  }
}

.rightColumn {
  width: 100%;
  margin-top: gutter(4);

  @include above($single-column-breakpoint) {
    flex: 1 1 50%;
    width: auto;
    min-height: 450px;
    margin-top: 0;
  }
}

.heroImageWrapper {
  position: relative;
  width: 100%;

  @include above($single-column-breakpoint) {
    position: absolute;
    top: 0;
    left: 50%;
    width: 60%;
    height: 100%;
    z-index: 1;
  }

  @include above(1430px) {
    width: 60%;
  }
}

.heroImage {
  display: block;
  width: 100%;
  height: 100%;
  transform: translateY(0);
  object-fit: cover;

  @include above($single-column-breakpoint) {
    height: calc(100% + 100px);
    transform: translateY(-100px);
  }

  @include above(1440px) {
    width: unset;
    max-width: none;
  }
}

.heroText {
  padding-left: gutter(2);
  padding-right: gutter(2);
}

.heroHeading {
  margin-bottom: gutter(1);
  color: var(--gray-12);
  font-size: fluid-value(320px, 419px, 30px, 40px);
  font-weight: 600;
  line-height: 1;

  @include between(419px, $single-column-breakpoint) {
    font-size: fluid-value(419px, 920px, 40px, 60px);
  }

  @include above($single-column-breakpoint) {
    font-size: 60px;
  }
}

.heroSubtitle {
  display: block;
  margin-bottom: gutter(3.5);
  color: var(--gray-11);
  font-size: fluid-value(320px, $single-column-breakpoint, 17px, 28px);
  line-height: 1.2;

  @include above($single-column-breakpoint) {
    font-size: 24px;
  }

  span {
    @include between(920px, 1080px) {
      display: inline-block;
    }
  }
}

.heroButton {
  margin-bottom: gutter(2);
}
