@use 'src/styles/abstracts/variables' as *;
@use 'src/styles/abstracts/functions' as *;
@use 'src/styles/abstracts/mixins' as *;
@use 'src/styles/abstracts/media-queries' as *;

.header {
  position: sticky;
  top: 0;
  max-width: 1700px;
  z-index: 10;
  margin-inline: auto;
}

.navigation {
  padding: gutter(2);

  @include above(460px) {
    padding: gutter(3);
  }
}

.navContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  display: flex;
  align-items: center;
  color: inherit;
  font-size: 1.25rem;
  font-weight: 300;
  text-decoration: none;
  gap: 0.75rem;

  .logo {
    width: auto;
    height: 50px;
  }

  span {
    color: #4b5563;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -1px;

    &:hover {
      color: #d25421;
    }

    @media (width <= 380px) {
      display: none;
    }
  }
}

.desktopNav {
  display: none;

  @media (width >= 768px) {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.navLink,
.mobileNavLink {
  padding: 0.5rem 0.75rem;
  color: #4b5563;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    color: #d25421;
  }
}

.mobileMenuButtonContainer {
  @media (width >= 768px) {
    display: none;
  }
}

.mobileMenuButton {
  padding: 0.25rem;
  border: none;
  background: none;
  color: #4b5563;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #1f2937;
    outline: none;
  }
}

.hamburgerIcon {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentcolor;
}

.mobileNav {
  display: none;
  margin-top: 1rem;

  &.isOpen {
    display: block;
  }

  @media (width >= 768px) {
    display: none !important;
  }
}

.mobileNavLink {
  display: block;
}

//////

.navRoot {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.menuList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 4px;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 2px 10px var(--black-a7);
  list-style: none;
}

.link {
  display: block;
  padding: 8px 12px;
  border-radius: 4px;
  color: var(--teal-11);
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  outline: none;
  user-select: none;

  &:focus {
    box-shadow: 0 0 0 2px var(--teal-7);
  }

  &:hover {
    background-color: var(--teal-3);
  }
}
