@use 'src/styles/abstracts/variables' as *;
@use 'src/styles/abstracts/functions' as *;

.header {
  position: sticky;
  top: 0;
  max-width: 1700px;
  z-index: 10;
  margin-inline: auto;
}

.navigation {
  padding: gutter(3) gutter(6);
}

.navContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  display: flex;
  align-items: center;
  color: inherit;
  font-size: 1.25rem;
  font-weight: 300;
  text-decoration: none;
  gap: 0.75rem;

  .logo {
    width: auto;
    height: 50px;
  }

  span {
    margin-top: -4px;
    margin-left: -8px;
    color: #4b5563;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -1px;

    &:hover {
      color: #d25421;
    }

    @media (width <= 380px) {
      display: none;
    }
  }
}

.desktopNav {
  display: none;

  @media (width >= 768px) {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.navLink,
.mobileNavLink {
  padding: 0.5rem 0.75rem;
  color: #4b5563;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    color: #d25421;
  }
}

.mobileMenuButtonContainer {
  @media (width >= 768px) {
    display: none;
  }
}

.mobileMenuButton {
  padding: 0.25rem;
  border: none;
  background: none;
  color: #4b5563;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #1f2937;
    outline: none;
  }
}

.hamburgerIcon {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentcolor;
}

.mobileNav {
  display: none;
  margin-top: 1rem;

  &.isOpen {
    display: block;
  }

  @media (width >= 768px) {
    display: none !important;
  }
}

.mobileNavLink {
  display: block;
}
